.header {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto 0;
  padding: .5rem 1rem;
}

.name {
  margin: 0;
  padding: 0;
}

.name a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border-radius: 10rem;
  padding: .5rem 1.5rem;
}

.name a:hover {
  background-color: #333;
}