/* title */
.notionate-gallery-title {
  font-size: .9rem;
  width: 100%;
  padding: 10px 10px 0;
}

/* date */
.notionate-gallery-date {
  width: 100%;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
}

/* multiselect */
.notionate-gallery-multiselect-ul {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 0 8px;
  margin: 0 0 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notionate-gallery-multiselect-li {
  font-size: .75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;
  border-radius: 3px;
  padding: 0;
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239) none repeat scroll 0% 0%;
  margin: 0 6px 0 0;
  cursor: pointer;
}
.notionate-gallery-multiselect-a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 2px 10px;
}

/* number */
.notionate-gallery-number {
  width: 100%;
  padding: 0 10px 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
}

/* richtext */
.notionate-gallery-richtext {
  width: 260px;
  padding: 0 10px 8px;
  display: block;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notionate-gallery-small .notionate-gallery-richtext {
  width: 180px;
}
.notionate-gallery-medium .notionate-gallery-richtext {
  width: 260px;
}
.notionate-gallery-large .notionate-gallery-richtext {
  width: 320px;
}

/* url */
.notionate-gallery-url {
  display: flex;
  white-space: nowrap;
  margin: 0 7px;
}
.notionate-gallery-url-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background: inherit;
  margin-bottom: 2px;
}
.notionate-gallery-url-a:hover {
  color: rgb(50, 48, 44);
  background: rgb(227, 226, 224) none repeat scroll 0% 0%;
  border-radius: 3px;
}
.notionate-gallery-url-chain {
  display: inline;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: middle;
}
.notionate-gallery-url-address {
  display: inline;
  font-size: .7rem;
  line-height: 1.2;
  white-space: nowrap;
  background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 1px;
}

/* gallery */
.notionate-gallery-inner {
  position: relative;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}
.notionate-gallery-small {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.notionate-gallery-medium {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.notionate-gallery-large {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.notionate-gallery-fit img {
  object-fit: contain;
  object-position: center 50%;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}
.notionate-gallery-fit .notionate-gallery-small img {
  height: 101.25px;
}
.notionate-gallery-fit .notionate-gallery-medium img {
  height: 146.25px;
}
.notionate-gallery-fit .notionate-gallery-large img {
  height: 180px;
}
.notionate-gallery-card {
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  transition: background 100ms ease-out 0s;
  position: static;
  height: 100%;
  cursor: pointer;
}
.notionate-gallery-card:hover {
  background: rgba(55, 53, 47, 0.03);
}
.notionate-gallery-card-text {
  padding-bottom: 10px;
}
.notionate-gallery-preview {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.notionate-gallery-preview img {
  width: 100%;
}
