.rotion-checkbox-checked {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgb(35, 131, 226);
  transition: background 200ms ease-out 0s;
}

.rotion-checkbox-checked-inner {
  user-select: none;
  transition: background 20ms ease-in 0s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rotion-checkbox-checked-checkbox {
  width: 12px;
  height: 12px;
  display: block;
  fill: white;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.rotion-checkbox-unchecked {
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
  transition: background 20ms ease-in 0s;
  position: relative;
  align-items: center;
  justify-content: center;
}

.rotion-checkbox-unchecked-checkbox {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--rotion-primary-text);
  flex-shrink: 0;
  backface-visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  .rotion-checkbox-unchecked-checkbox {
    fill: var(--rotion-dark-primary-text);
  }
}
