.rotion-pdf {
  font-family: var(--rotion-font-family);
  padding: .3rem 0;
}

.rotion-pdf-canvas {
  border-bottom-left-radius: var(--rotion-border-radius);
  border-bottom-right-radius: var(--rotion-border-radius);
  border: 1px solid rgb(230, 230, 230);
  width: calc(100% - 2px);
  min-height: 500px;
}

.rotion-pdf-nav {
  background-color: rgba(250, 250, 250, 1);
  width: calc(100% - 2px);
  border: 1px solid rgb(230, 230, 230);
  border-bottom: none;
  border-top-left-radius: var(--rotion-border-radius);
  border-top-right-radius: var(--rotion-border-radius);
  margin: 0;
  padding: .6rem 0;
  line-height: 1;
  display: flex;
}

.rotion-pdf-pager {
  display: flex;
  list-style: none;
  text-align: right;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.rotion-pdf-prev,
.rotion-pdf-next {
  display: inline;
  padding-left: 1rem;
}

.rotion-pdf-prevnext {
  border-width: 1px;
  cursor: pointer;
  font-size: .6rem;
  border-radius: 30px;
  padding: .3rem 1rem;
  border: var(--rotion-border);
  color: var(--rotion-secondary-text);
}

.rotion-pdf-prevnext:hover {
  border: var(--rotion-border-hover);
  color: var(--rotion-primary-text);
}

.rotion-pdf-prevnext-disabled,
.rotion-pdf-prevnext-disabled:hover {
  cursor: default;
  border: var(--rotion-border-disabled);
  color: var(--rotion-tertiary-text);
}

.rotion-pdf-link {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  margin: 0;
  padding: .2rem 1rem 0;
  text-decoration: none;
  color: var(--rotion-link-color);
}

.rotion-pdf-link svg {
  fill: rgba(100, 100, 100, 0.8);
}

.rotion-pdf-caption {
  color: var(--rotion-tertiary-text);
  font-size: .9rem;
  padding-top: .2rem;
  padding-left: .4rem;
}

@media (prefers-color-scheme: dark) {
  .rotion-pdf-caption {
    color: var(--rotion-dark-tertiary-text);
  }
}
