.rotion-pdf {
  font-family: var(--rotion-font-family);
  padding: .3rem 0;
}

.rotion-pdf-object {
  border-radius: var(--rotion-border-radius);
  border: var(--rotion-border);
  width: calc(100% - 2px);
  min-height: 500px;
  max-height: 90vh;
}

.rotion-pdf-caption {
  color: var(--rotion-tertiary-text);
  font-size: .9rem;
  padding-top: .2rem;
  padding-left: .4rem;
}

@media (prefers-color-scheme: dark) {
  .rotion-pdf-caption {
    color: var(--rotion-dark-tertiary-text);
  }
}
