.rotion-table-checkbox {
  display: flex;
  margin: 3px 0;
}

.rotion-table-checkbox .rotion-prefix,
.rotion-table-checkbox .rotion-suffix {
  padding-top: 1px;
}

.rotion-table-checkbox .rotion-prefix {
  padding-right: 6px;
}

.rotion-table-checkbox .rotion-suffix {
  padding-left: 6px;
}
