/* title */
.notionate-list-title {
  white-space: nowrap;
  display: block;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  margin: 0 7px;
}
.notionate-list-title-a {
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  color: inherit;
  cursor: pointer;
}

/* url */
.notionate-list-url {
  display: flex;
  white-space: nowrap;
  margin: 0 7px;
}
.notionate-list-url-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background: inherit;
  margin-bottom: 2px;
}
.notionate-list-url-a:hover {
  color: rgb(50, 48, 44);
  background: rgb(227, 226, 224) none repeat scroll 0% 0%;
  border-radius: 3px;
}
.notionate-list-url-chain {
  display: inline;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: middle;
}
.notionate-list-url-address {
  display: inline;
  font-size: .7rem;
  line-height: 1.2;
  white-space: nowrap;
  background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 1px;
}

/* multiselect */
.notionate-list-multiselect-ul {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0;
  margin: 0 7px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notionate-list-multiselect-li {
  font-size: .75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;
  border-radius: 3px;
  padding: 0;
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239) none repeat scroll 0% 0%;
  margin: 0 6px 0 0;
  cursor: pointer;
}
.notionate-list-multiselect-a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 2px 10px;
}

/* date */
.notionate-list-date {
  white-space: nowrap;
  font-size: .85rem;
  display: flex;
  align-items: center;
  margin: 0 7px;
  min-width: 20px;
  color: #999;
}

/* richtext */
.notionate-list-richtext {
  font-size: .85rem;
  white-space: nowrap;
  display: block;
  margin: 0 .5rem;
  padding: 0 .5rem;
  max-width: 25rem;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* number */
.notionate-list-number {
  white-space: nowrap;
  font-size: .85rem;
  display: flex;
  align-items: center;
  margin: 0 7px;
  min-width: 20px;
}

/* list */
.notionate-list {
  margin: 0 -7px;
  padding: 0;
  overflow-x: scroll;
}
.notionate-list-inner {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 1200px;
}
.notionate-list-record {
  display: flex;
  margin: 4px 0;
  padding: 4px 0;
  user-select: none;
  transition: background 20ms ease-in 0s;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: inherit;
}
.notionate-list-record:hover {
  background-color: #f5f5f5;
}
.notionate-list-spacer {
  width: 100%;
  flex-shrink: 10;
  display: block;
  margin-left: 14px;
  border-top: 1px dashed #999;
}
