.notionate {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.notionate-select-default {
  color: rgb(50, 48, 44);
  background-color: rgba(227, 226, 224, 0.5);
}
.notionate-select-gray {
  color: rgb(50, 48, 44);
  background-color: rgb(227, 226, 224);
}
.notionate-select-brown {
  color: rgb(68, 42, 30);
  background-color: rgb(238, 224, 218);
}
.notionate-select-orange {
  color: rgb(73, 41, 14);
  background-color: rgb(250, 222, 201);
}
.notionate-select-yellow {
  color: rgb(64, 44, 27);
  background-color: rgb(253, 236, 200);
}
.notionate-select-green {
  color: rgb(28, 56, 41);
  background-color: rgb(219, 237, 219);
}
.notionate-select-blue {
  color: rgb(24, 51, 71);
  background-color: rgb(211, 229, 239);
}
.notionate-select-purple {
  color: rgb(65, 36, 84);
  background-color: rgb(232, 222, 238);
}
.notionate-select-pink {
  color: rgb(76, 35, 55);
  background-color: rgb(245, 224, 233);
}
.notionate-select-red {
  color: rgb(93, 23, 21);
  background-color: rgb(255, 226, 221);
}

@import url("./blocks.css");
@import url("./list.css");
@import url("./gallery.css");
@import url("./table.css");
