/* title */
.notionate-table-title-a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

/* url */
.notionate-table-url {
  display: flex;
  white-space: nowrap;
  margin: 0;
}
.notionate-table-url-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background: inherit;
  margin-bottom: 2px;
}
.notionate-table-url-a:hover {
  color: rgb(50, 48, 44);
  background: rgb(227, 226, 224) none repeat scroll 0% 0%;
  border-radius: 3px;
}
.notionate-table-url-address {
  display: inline;
  font-size: .8rem;
  white-space: nowrap;
  background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 1px;
}

/* multiselect */
.notionate-table-multiselect-ul {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notionate-table-multiselect-li {
  font-size: .75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;
  border-radius: 3px;
  padding: 0;
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239) none repeat scroll 0% 0%;
  margin: 0 6px 0 0;
  cursor: pointer;
}
.notionate-table-multiselect-a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 2px 10px;
}

/* date */
.notionate-table-date {
  white-space: nowrap;
  font-size: .85rem;
  display: flex;
  align-items: center;
  min-width: 20px;
  color: #999;
}

/* richtext */
.notionate-table-richtext {
  font-size: .85rem;
  white-space: nowrap;
  display: block;
  margin: 0;
  padding: 0;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* number */
.notionate-table-number {
  white-space: nowrap;
  font-size: .85rem;
  display: block;
  width: 100%;
  text-align: right;
}

/* table */
.notionate-table {
  margin: 0;
  padding: 0 0 10px;
  width: 100%;
  overflow-x: scroll;
}
.notionate-table-inner {
  position: relative;
  float: left;
  min-width: 100%;
}
.notionate-table-row {
  display: inline-flex;
  background: inherit;
  height: 33px;
  color: rgba(55, 53, 47, 0.65);
  border-top: 1px solid rgb(233, 233, 231);
  box-shadow: white -3px 0px 0px, rgb(233 233 231) 0px 1px 0px;
  min-width: calc((100% - 192px) - 0px);
}
.notionate-table-cell {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
}
.notionate-table-cell-inner {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 14px;
  padding: 5px 8px;
  width: 174px;
  border-right: 1px solid rgba(55, 53, 47, 0.09);
}
.notionate-table-icon {
  width: 14px;
  height: 14px;
  display: block;
  fill: rgba(55, 53, 47, 0.45);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-top: 4px;
  margin-right: 7px;
}
.notionate-table-cell-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
