.rotion-embed {
  font-family: var(--rotion-font-family);
  width: 100%;
  text-align: center;
}

.rotion-embed-html {
  width: 100%;
  text-align: center;
  position: relative;
}

.rotion-embed-caption {
  margin: .3rem .3rem 0;
  text-align: left;
  color: var(--rotion-tertiary-text);
  font-size: .95rem;
}

/* Instagram */
.rotion-embed-instagram {
  max-width: 540px;
  margin: 0 auto;
}
.rotion-embed-instagram iframe {
  max-height: 590px;
  overflow: hidden;
}

/* Twitter */
.rotion-embed-twitter {
  max-width: 550px;
  margin: 0 auto;
}

/* Apple Music */
.rotion-embed-applemusic {
  max-width: 660px;
  margin: 0 auto;
}

/* Speakerdeck */
/* SlideShare */
.rotion-embed-speakerdeck,
.rotion-embed-slideshare {
  width: 100%;
  margin: 0 auto .8rem;
}

.rotion-embed-speakerdeck .rotion-embed-html,
.rotion-embed-slideshare .rotion-embed-html {
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  position: relative;
}

.rotion-embed-speakerdeck iframe,
.rotion-embed-slideshare iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Google Map */
.rotion-embed-googlemap {
  width: 100%;
  margin: 0 auto .8rem;
  height: 90vh;
}
.rotion-embed-googlemap iframe {
  height: 90vh;
}

/* Tiktok */
.rotion-embed-tiktok {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .rotion-embed-caption {
    color: var(--rotion-dark-tertiary-text);
  }
}
