.rotion-list-title-link {
  cursor: var(--rotion-link-cursor);
  border-bottom: var(--rotion-link-border-bottom);
}

.rotion-list-title-wrapper {
  font-family: var(--rotion-font-family);
  text-decoration: var(--rotion-link-text-decoration);
  color: var(--rotion-primary-text);
}

@media (prefers-color-scheme: dark) {
  .rotion-list-title-link {
    border-bottom: var(--rotion-dark-link-border-bottom);
  }

  .rotion-list-title-wrapper {
    color: var(--rotion-dark-primary-text);
  }
}
