.rotion-video {
  font-family: var(--rotion-font-family);
  width: 100%;
}

.rotion-video-inner {
  margin: auto;
}

.rotion-video-html {
  width: 100%;
  margin: auto;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  height: 0,
}

.rotion-video-caption {
  margin: .3rem .3rem 0;
  text-align: left;
  color: var(--rotion-tertiary-text);
  font-size: .95rem;
}

/* File */
.rotion-video-file {
  display: block;
  width: 100%;
}

/* Youtube */
.rotion-video-youtube {
  margin: auto;
}

.rotion-video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Vimeo */
.rotion-video-vimeo {
  margin: auto;
}

.rotion-video-vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .rotion-video-caption {
    color: var(--rotion-dark-tertiary-text);
  }
}
