.layout {
  padding: .7rem 0;
  display: grid;
  grid-template: 50% 1fr / 50% 1fr;
  color: rgb(35, 131, 226);
  background-color: rgba(35, 131, 226, 0.07);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.breadcrumbs {
  padding-left: .5rem;
}
.link {
  text-decoration: none;
  color: rgb(35, 131, 226);
  font-size: .9rem;
  padding: .2rem .3rem;
  border-radius: 4px;
}
.link:hover {
  color: #666;
  background-color: #fff;
}
.link img {
  vertical-align: middle;
  padding-right: .4rem;
  padding-bottom: .2rem;
}
.slash {
  font-size: .9rem;
  opacity: .5;
  padding: 0 .3rem;
}

.repo {
  text-align: right;
  padding-right: .5rem;
}
.github {
  text-decoration: none;
  color: #666;
  font-size: .9rem;
  padding: .2rem .3rem;
  border-radius: 4px;
}
.github:hover {
  color: #666;
  background-color: #fff;
}