.title {
  font-size: 2.4rem;
  margin: 4rem 0 2rem;
  padding: 0;
}

.back {
  margin: 5rem auto;
  text-align: center;
}

.back a {
  font-size: .85rem;
  border: 1px solid #000;
  padding: .5rem 1rem;
  border-radius: 10rem;
  color: #000;
  text-decoration: none;
}

.back a:hover {
  border-color: #eee;
  background-color: #eee;
}