.rotion-richtext-link {
  text-decoration: var(--rotion-link-text-decoration);
  color: inherit;
  border-bottom: var(--rotion-link-border-bottom);
}

.rotion-richtext-link:hover {
  border-bottom: var(--rotion-link-hover-border-bottom);
}

.rotion-richtext-nolink {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .rotion-richtext-link {
    border-bottom: var(--rotion-dark-link-border-bottom);
  }

  .rotion-richtext-link:hover {
    border-bottom: var(--rotion-dark-link-hover-border-bottom);
  }
}
