.header {
  padding: .5rem;
  display: grid;
  grid-template: 50% 1fr / 50% 1fr;
}

.home {
  letter-spacing: -0.5px;
}

.repo {
  text-align: right;
}

.link {
  color: #555;
  font-size: .85rem;
  text-decoration: none;
  padding: 2px 7px;
}
.link:hover {
  background-color: #eee;
  border-radius: 3px;
}

.content {
  margin: 0;
  padding: 0;
}
