.header {
  width: 100%;
  height: 30vh;
  margin: 0 0 200px;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30vh;
  object-position: center 70%;
}

.headerInner {
  font-size: 1rem;
  max-width: 1800px;
  margin: -50px auto 0;
  padding: 0 1.5rem;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
}

.desc {
  margin-top: .5rem;
  font-size: 1rem;
}

.icon {
  font-size: 5rem;
  padding-bottom: 1rem;
}

.db {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.headerPage {
  width: 100%;
  height: 30vh;
  margin: 0 0 120px;
}

.headerInnerPage {
  font-size: 1rem;
  max-width: 800px;
  margin: -50px auto 0;
  padding: 0 1.5rem;
}

.wrapperPage {
  max-width: 800px;
  padding: 0 1.5rem;
}

.page {
  margin: 0 auto 5rem;
}