.rotion-table-select {
  font-family: var(--rotion-font-family);
  font-size: .75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;
  border-radius: 3px;
  padding: 0;
  color: rgb(24, 51, 71);
  margin: 0 6px 0 0;
}

@media (prefers-color-scheme: dark) {
  .rotion-table-select {
    color: rgb(211, 229, 239);
  }
}
