.layout {
  display: grid;
  grid-template-columns: 1fr 708px 1fr;
  width: 100%;
}

.header {
  margin: 8rem 0 0;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
}

.desc {
  margin-top: .5rem;
  font-size: 1rem;
}

.icon {
  padding: 3rem 0;
  width: 78px;
  height: 78px;
}

.page {
  margin: 0 auto 5rem;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .layout {
    display: block;
  }

  .header {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
