html,
body {
  padding: 3rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
}
.page-title { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
